.fl {
    float: left;
}
.fr {
    float: right;
}
/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

/* 快捷导航栏开始 */
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
    font-size: 12px;
}
.shortcut .shortcut-left {
    float: left;
    width: 219px;
}
.shortcut .shortcut-left span {
    margin-right: 13px;
}
.shortcut .shortcut-left a {
    color: red;
}
.shortcut .shortcut-right {   
    float: right;
    width: 630px;
}
.shortcut .shortcut-right ul li a {
    display: block;
    float: left;
    margin-top: 10px;
    line-height: 12px ;
    font-size: 12px;
    padding-right: 13px;
    padding-left: 13px;
    border-right: 1px solid #666;
}
/* 快捷导航栏结束 */

/* header开始 */
.header {
    height: 105px;
    background-color: pink;
    position: relative;
}
.logo {
    position: absolute;
    width: 219px;
    height: 55px;
    top: 27px;
    left: 0;
    background-image: url(../img/01-电商-主页-gai_03.jpg);
}
.header .search {
    position: absolute;
    left: 348px;
    top: 27px;
    width: 538px;
    height: 35px;
}
.header .search input {
    display: block;
    float: left;
    height: 31px;
    width: 454px;
    border: 2px #b1191a solid;
}
.header .search button {
    display: block;
    float: left;
    width: 80px;
    height: 35px;
    border: 0;
    color: white;
    font-size: 16px;
    background-color: #b1191a;
}
.header .hotwords {
    position: absolute;
    top: 64px;
    left: 347px;
}
.header .hotwords ul li {
    float: left;
}
.header .hotwords ul li a {
    float: left;
    display: block;
    height: 20px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 12px;
}
.header .shopcar {
    position: absolute;
    top: 27px;
    left: 996px;
    width: 117px;
    height: 12px;
    line-height: 12px;
    padding: 11px;
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
}
.nav {
    position: relative;
    height: 45px;
    border-bottom: 2px solid #b1191a;

}
.nav .dropdown {
    width: 209px;
    height: 45px;
}
.dropdown .dt {
    width: 100%;
    height: 100%;
    background-color: #b1191a;
    font-size: 16px;
    color: #f1dfdf;
    line-height: 45px;
    text-align: center;
}
.dropdown .dd {
    margin-top: 2px;
    height: 465px;
    background-color: #c81623;
}
.dropdown .menu_item{
    margin-left: 1px;
    height: 31px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 11px;
    line-height: 31px;
}
 .menu_item:hover {
    background-color: #fff;
}
 .menu_item a {
    color: #fff;
}
.menu_item:hover a {
    color: #c81623;
}
.menu_item i{
    float: right;
    font-family: 'icomoon';
    font-size: 18px;
    color: #fff;
}
.navitems {
    float: left;
    margin-left: 20px;
    height: 45px;
    width: 730px;
}
.navitems ul li {
    float: left;
    font-size: 16px;
} 
.navitems ul li a {
    display: block;
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 45px;
}

/* header结束 */
/* footer开始 */
 .footer {
     height: 386px;
     padding-top: 30px;
     background-color: #f5f5f5;

 }
 .mod_service {
    height: 79px;
    border-bottom: 1px solid #a11212;
 }
 .mod_service ul li {
     float: left;
     width: 202px;
     padding-left: 38px;
 }
 .mod-service-icon {
    float: left;
    margin-right: 6px;
    width: 50px;
    height: 50px;
    background: url(../img/icons.png)no-repeat;

 }
 .mod_servide_zheng {
    background-position:  -253px -3px;
 }
 .mod_servide_ji {
    background-position:  -253px -54px;
 }
 .mod_servide_wu {
    background-position:  -257px -106px;
 }
 .mod_servide_te {
    background-position:  -254px -157px;
 }
 .mod_servide_bang {
    background-position:  -252px -208px;
 }
 .mod_service .span1 {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #333333;
 }
 .mod_service .span2 {
     color: #666;
 }
 .mod_help {
     height: 191px;
     border-bottom: 1px solid #ccc;
 }
 .mod_help_item {
     float: left;
     width: 150px;
     padding-left: 40px;
     padding-top: 24px;
 }
 .mod_help_item dt {
     margin-bottom: 8px;
     height: 25px;
     font-size: 16px;
 }
 .mod_help_item dd {
     height: 22px;
     font-size: 12px;
 }
 #help {
     padding-left: 10px;
 }
 #khd {
     padding-left: 10px;
     padding-top: 10px;
     color: black;
 }
 .mod_copyright p {
    text-align: center;
 }
 .mod_copyright_links {
     margin: 20px 0 15px 0;
 }
/* footer结束 */
